<div class="col-md-12 textdiv">
<div class="center-div">
  <p id="copy" class="switch">The MR. GOOD BOY record cart is the first all-in-one special events music platform and mobile record store that can operate anywhere. Invented by our team to give people an exciting and convenient way to experience, discover, and enjoy music. If you are interested in us and where Mr. Good Boy will be next, please follow us on instagram or join our mailing list.</p>
  <p>MADE IN LOS ANGELES, CA.</p>
  <p id="email" class="switch">americandekotora@gmail.com</p>
</div>
</div>
