<div class="center copy">
  <div class="col-md-12">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127.54 67.06" width="150px"><defs><style>.cls-1,.cls-2{font-size:26.57px;fill:#e9636a;font-family:Cubano-Regular, Cubano;}.cls-1{letter-spacing:0em;}.cls-3{letter-spacing:-0.05em;}.cls-4{letter-spacing:-0.01em;}</style></defs>
    <title>Wordmark_Pink_Slanted</title>
    <text class="cls-1" transform="matrix(1.03, -0.14, -0.04, 1, 0.57, 39.87)">AMERICAN</text>
    <text class="cls-2" transform="matrix(1.02, -0.14, -0.04, 1, 0.19, 61.75)">DE<tspan class="cls-3" x="30.55" y="0">K</tspan>
    <tspan class="cls-4" x="45.77" y="0">OT</tspan>
    <tspan x="76.43" y="0">ORA</tspan>
    </text>
    </svg>

    <p>&copy;&nbsp;2018&nbsp;American&nbsp;Dekotora</p>
    <a class="privacy_link" href="privacy_policy.html"><p class="privacy">Privacy Policy</p></a>
  </div>
</div>
