<div class="col-md-8 col-md-offset-2">

<p id="copy">Privacy Policy



American Dekotora Privacy Policy



Effective Date: 	[Insert date Policy is Posted to the Website]



Welcome to American Dekotora.



The American Dekotora team values your business. Not only is our team committed to providing the best music retail experience through our unique in-store music cart, but we also make every effort to protect your privacy as an American Dekotora customer. To this end, we have created the American Dekotora Privacy Policy in accordance with all applicable laws and regulations in an effort to best protect your personal information.



WHAT DOES THIS POLICY CONTAIN?

This Privacy Policy addresses five main areas:

	A. Terms of Use and Modification of the Privacy Policy;

	B. Collection,Use,andSharingofData;

	C. ProtectionofDataandApplicableGoverningLaws;

	D. Retention and Deletion of Data; and

	E. Contact Information.
As your read through this Privacy Policy, you may come across the term “Personally Identifiable Information” or “PII.” PII is defined as customer information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context.



If at any point you have a question about your privacy or this policy, we invite you to contact our team at americandekotora@gmail.com



A. TERMS OF USE AND MODIFICATION OF THIS PRIVACY POLICY



	1. Terms of Use



As a customer, we ask that you read our Privacy Policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.

Prior to submitting any content on American Dekotora’s website, we ask that you please read and review this Policy. By submitting content to American Dekotora, you agree to abide and be bound by this Privacy Policy. Should you not agree to terms of this Privacy Policy, please do not submit any content and cease use of American Dekotora’s website.



	2. Modifications to the Privacy Policy



With the advancement of technology, American Dekotora seeks to continually improve both its product, as well as the means by which we protect our customers’ information. To best achieve this aim, American Dekotora reserves the right to modify or amend this Privacy Policy at any time. However, you can be assured that should it be necessary to do so, we will always do so in accordance with industry and the proscribed standards of state, federal, and international jurisdictions. Furthermore, the American Dekotora team commits to notifying you of any material changes to this Privacy Policy that are less protective of customer information prior to such changes taking effect.

We may notify you of these changes to the Privacy Policy either by email, notices on this website, or by other means deemed to be industry standard or proscribed by statute. We encourage you to periodically review this page for the latest information on our privacy practices.



B. COLLECTION, USE, AND SHARING OF DATA


	1. What Personal Information Does American Dekotora Collect?



Through your general use of our website, American Dekotora may collect and/or receive information about you that reveals your specific identity, or is directly tied to your specific identity, including, but not limited to:



	a)  Full name;

	b)  Location;
	c)  Contact information;
	d)  Browser type and version
	e)  IP address; and
	f)  User preference data.
At American Dekotora’s in-person mobile carts, we may engage in the practice of collecting and/or retaining the following anonymized data about your browsing and purchase habits:



	a)  Gender;

	b)  Age;

	c)  In-store browsing habits;
	d)  In-store product interaction habits; and
	e)  Final purchased products and transactional information related to any purchases.



This anonymized data is collected to allow the American Dekotora team to adjust their product offering to best meet the changing needs and music tastes of its clientele.



Additionally, the American Dekotora team may engage in video recording at or near in- person mobile carts. These recordings may be: (1) broadcast in real time via social media services including (but not limited to) “Facebook Live” or Instagram, or (2) stored in a recorded format consistent with the data storage policies contained in this document. Video collected during these events may be used for marketing and research purposes. The American Dekotora team will display a conspicuous notice while any recording devices are engaged, and any customers or other individuals within the proximity to a video recording device may have their likeness captured and/or broadcast on the Internet for these purposes.



	2. What Credit Card or Payment Information is Collected?



American Dekotora contracts with the company Square as a third-party payment processor to process product payment at the mobile music cart. American Dekotora does not gather your personal credit card information. Rather, that information is gathered, stored and processed by Square. We encourage you to read the Square’s privacy policy to find out how your information may be gathered, used, and disclosed. This information is available at: https://squareup.com/legal/privacy.



	3. When Do We Collect Information?



American Dekotora collects information from customers in two venues: (1) online while customers use the American Dekotora website, and (2) in-person when customers visit the mobile cart.



First, when customers visit our website, American Dekotora may collect information when customers subscribe to our newsletter, contact American Dekotora via email, or browse or enter information on our website.



Second, American Dekotora will collect anonymized data concerning the browsing and purchasing habits of customers that visit the company’s mobile cart.



Customers’ information may also be collected through their interactions with American Dekotora on social media platforms such as Twitter, Facebook, Snapchat, and Instagram:



	a). For more information on Twitter’s privacy policy, please visit https://twitter.com/privacy?lang=en;

	b). For more information on Facebook’s privacy policy, please visit https://www.facebook.com/full_data_use_policy;

	c). For more information on Instagram’s privacy policy, please visit https://www.instagram.com/about/legal/privacy.



	4. How Do We Use Your Information?



The American Dekotora team may use the information we collect from customers when you register on our website, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:



	a)  To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested;
	b)  To allow us to better serve you in responding to your customer service requests;
	c)  To quickly process your transactions;
	d)  To send periodic emails regarding your order or other products and services;
	e)  For general business purposes, such as data analysis, audits, fraud monitoring and
	prevention, developing new services, and enhancing, improving, or modifying our
	website; and
	f)  To better understand and serve our users or for optimization of our marketing
	efforts through the use of aggregated and anonymized information.
	5. Third-Party Disclosure.



American Dekotora takes your privacy seriously. We do not sell, trade, or otherwise transfer your Personally Identifiable Information to outside parties unless we provide users with advance notice. However, this does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, as long as those parties agree to keep this information confidential.



In rare circumstances, American Dekotora will release information when the release is appropriate and necessary to comply with the law, enforce our site policies, or protect our or others' rights, property, or safety.



Specifically, American Dekotora, should it be required in compliance with the law, will release customer data in cases of (1) fraud prevention, and (2) law enforcement.



Fraud Prevention: American Dekotora may disclose the personal information it collects about its users when we believe the disclosure is necessary to investigate, prevent, or respond to suspected illegal or fraudulent activity or to protect the safety, rights, or property of us, its users, or others.



Law Enforcement: If requested or required by government authorities, such as law enforcement authorities, courts, or regulators, or otherwise to comply with the law, American Dekotora may have to disclose any information it has about our users. American Dekotora may also disclose information collected about you in order to exercise or protect American Dekotora’s or a third party’s legal rights or defend against legal claims.



	6. Links to the Third-Party Sites or Applications.



Occasionally, American Dekotora may include or offer third-party products or services on our website. These third-party sites and applications have separate and independent privacy policies, and we encourage you to review the privacy policies of these third parties. We wish to warn our customers that we do not accept any responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.



	7. Google AdWords.



The America Dekotora team has not enabled Google AdSense on our site, but we may do so in the future. Google's advertising requirements are outlined by Google's Advertising Principles. Google uses cookies and other tracking technology to show you our ads across the internet. They are put in place to provide a positive and efficient search experience for users. More information about Google’s AdWord policies can be found by visiting https://support.google.com/adwordspolicy/answer/1316548?hl=en.



C. PROTECTION OF DATA AND APPLICABLE GOVERNING LAWS



	 1. Do We Use Cookies?



American Dekotora uses cookies on our website. When a customer visits our website, we may send you one or more cookies. Cookies are small text files that a site or its service provider transfers to your computer's hard drive through your browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information.



	2. What Does American Dekotora Use Cookies For?



The team at American Dekotora seeks to use the information we obtain from cookies in a responsible and ethical manner. Cookies are used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We may compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf. However, you can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. This is achieved through your browser settings. Since each browser is a little different, refer to your browser's Help Menu for more information about your cookie settings.

If you change your browser settings so that it will not accept cookies, some of the website’s advanced and customized features will be disabled. This will not, however, affect the website’s overall efficiency and functionality.



	3. COPPA (Children Online Privacy Protection Act).



There are a number of laws that govern privacy within the United States. The Federal Trade Commission (FTC) enforces one such law called the Children's Online Privacy Protection Act (COPPA), which outlines what businesses and online services must do to protect children's privacy and safety online. American Dekotora does not specifically market to children under the age of thirteen (13) years-old.



	4. Data Breach Protocol.



American Dekotora is committed to protecting and honoring its customers’ data. In the event that a data breach does occur, American Dekotora will contact you within seventy- two (72) hours with information regarding the breach, actions that American Dekotora has taken to mitigate the breach, and steps that you can take to protect yourself.



D. RETENTION AND DELETION OF DATA



	1. Accessing or Deleting Your Information



At any point in time, you have the option to review and/or delete the information American Dekotora has collected concerning your purchase or interaction with the company. If you wish to review, correct, update, suppress, or delete information that you have previously provided to us, you can contact our Privacy team at the email address listed at the bottom of this Privacy Policy.



To expedite your request, please let us know what information you wish to remove from our databases or inform our team as to the limitations you would like to enforce on our use of your personal information.



For your protection, we may only implement requests with respect to the personal information associated with the particular email address that you use to send us your request, and we may need to verify your identity before implementing your request. We will try to comply with your request as soon as reasonably practicable.



Please note that we may need to retain certain information for mandatory record keeping purposes and/or to complete any transactions that you began prior to your request. There may also be residual information that will remain within our databases and other records, but such residual information will no longer be tied to your identity.



	2. Data Retention



Out of respect for your information, American Dekotora seeks to use reasonable technical and administrative measures to protect your information within our organization from loss, misuse, unauthorized access or disclosure, alteration, and/or destruction.



We will take the necessary steps to ensure that all data we process is reliable for its intended use, accurate, complete, and current to the extent necessary for the purposes for which we use it.



Unfortunately, no data transmission over the internet or electronic storage system can be guaranteed to be 100% secure. Transmission of your information is at your own risk. We are unable to guarantee that such information will not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards. If you have reason to believe that your interaction with us is no longer secure, please immediately notify us of the problem by contacting our Privacy Officer using the contact details listed at the end of this Privacy Policy.



We will retain your Personal Information for the period necessary to fulfill the purposes outlined in this Privacy Policy, unless a longer retention period is required by law. American Dekotora retains information for a period of up to five (5) years.



	E. CONTACT INFORMATION



If there are any questions regarding this Privacy Policy, you may contact our privacy team at americandekotora@gmail.com



Please note that email communications are not always secure. Please do not include sensitive information in your emails to American Dekotora. </p>

</div>
