#logo,
#deko,
#deko_vid{
  @include margin;
}

#logo{
  width: 20%;
  max-width: 240px;
}
#deko{
  max-width: 1000px;
  width: 100%;
}

#deko_vid{
  max-width: 1000px;
  width: 100%;
}

#deko_vid{
  display: block;
}

.center{
  @include center;
}

.text p{
@include responsive-font(1.5vw, 12px, 40px);
margin-top: 5px;
}

.copy p{
@include responsive-font(1vw, 12px, 24px);
margin-top: 5px;
}

#social i{
  color: grey;
}

#text p{
  max-width: 1000px;
  @include margin;
  margin-bottom: 30px;
}
