#logo,
#deko,
#deko_vid{
  @include margin;
}

#logo{
  width: 20%;
  max-width: 240px;
  margin-bottom: 35px;
}
#deko{
  max-width: 1000px;
  width: 100%;
}

#deko_vid{
  max-width: 1000px;
  width: 100%;
}

#deko_vid{
  display: block;
}

.center{
  @include center;
}

.text p{
@include responsive-font(1.5vw, 16px, 40px);
margin-top: 5px;
}

.copy p{
@include responsive-font(1vw, 12px, 24px);
margin-top: 5px;
}

#social i{
  color: grey;
}

#text p{
  max-width: 1400px;
  @include margin;
  margin-bottom: 30px;
}

@media (max-width: 500px){
  #text p{
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (min-width: 501px) and (max-width: 1920px){
  #text p{
    padding-left: 15%;
    padding-right: 15%;
  }
}
#arrow img{
  width: 7%;
  max-width: 75px;
}
