<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" style="display:none;">

<a id="arrow_switch"><div id="footer"><img src="img/down_arrow_grey.png"></div></a>

<div id="fullpage">

<div id="section1" class="section" data-anchor="welcome">

  <div id="gif"> {% include kart.html %} </div>
  <!--<div id="vid"> {% include vidtest.html %} </div>-->

</div>

<div id="section2" class="section" data-anchor="welcome">
<a target="_blank" href="https://www.instagram.com/mrgoodboyla/" style="color: #333;"><h2 id="instalink">INSTAGRAM</h2></a>
</div>

<div id="section3" class="section" data-anchor="welcome"></div>

<div id="section4" class="section" data-anchor="welcome"></div>

<div id="section5" class="section" data-anchor="about">

  {% include box.html %}
  <!-- removed social.html -->


</div>
<div id="section6" class="section" data-anchor="links">

<h2 class="fullpage-center-text">FOR OUR MAILING LIST</h2>
<a href="signup.html" style="color: #333;"><h1 class="fullpage-center-text" style="border:2px; border-style:solid; border-color:#333; padding: 0.5em 1.5em; margin: auto; display: table;">JOIN</h1></a>
<h2 class="fullpage-center-text">FOR BUSINESS INQUIRIES</h2>
<a href="mailto:americandekotora@gmail.com" style="color: #333;"><h1 class="fullpage-center-text" style="border:2px; border-style:solid; border-color:#333; padding: 0.5em 2em; margin: auto; display: table;">EMAIL</h1></a>

</div>
{% include footer.html %}
</div>
</body>

  {% include scripts.html %}

</html>
