<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" style="display:none;">

<a href="#about"><div id="footer"><img src="img/down_arrow_grey.png"></div></a>

<div id="fullpage">
<div class="section" data-anchor="welcome">

  <div id="gif"> {% include kart.html %} </div>
  <!--<div id="vid"> {% include vidtest.html %} </div>-->

</div>
<div class="section" data-anchor="about">

  {% include logo.html %}
  {% include text.html %}
  {% include social.html %}
  {% include footer.html %}

</div>
</div>
</body>
  {% include scripts.html %}

</html>
